@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --Dark-slate-grey: hsl(234, 29%, 20%);
  --Charcol-grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  --Tomato: hsl(4, 100%, 67%);
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 90%;
}

h1 {
  color: var(--Dark-slate-grey);
}
p {
  color: var(--Dark-slate-grey);
}

button {
  margin-top: 5rem;
  color: var(--White);
  background-color: var(--Dark-slate-grey);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}
span {
  display: block;
  font-weight: bold;
}
@media only screen and (min-width: 1200px) {
  body {
    background-color: var(--Dark-slate-grey);
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    max-width: 50%;
    background-color: var(--White);
    padding: 3rem 4rem;
    border-radius: 1rem;
  }
  button {
    margin-top: 2rem;
    transition: all 1s;
    color: var(--White);
  }
  button:hover {
    background: linear-gradient(45deg, #ff6a3a, #ff527b);
    background-size: 200%;
    animation: anime 1s linear infinite;
    box-shadow: 10px 10px 20px rgba(255, 97, 85, 0.5);
  }
  @keyframes anime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
